<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Metronic</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {% block stylesheets %}
        {{ include('@Metronic/_stylesheets.twig') }}
    {% endblock %}
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-full-width">
    {% block headers %}
        {{ include('@Metronic/_headers.twig') }}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footers %}
        {{ include('@Metronic/_footers.twig') }}
    {% endblock %}

    {% block javascripts %}
        {{ include('@Metronic/_javascripts.twig') }}
    {% endblock %}
</body>
</html>